@model Procedimento
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Pet Shop</h1>
</div>
<div class="d-flex flex-row align-items-center col-sm justify-content-around m-1 p-0">
    <img src="~/css/png-lovely-dog-removebg-preview.png"/>
    <p>
        Seu amor em boas mãos
    </p>
</div>
<div class="d-flex flex-row align-items-center justify-content-evenly p-0">
    <div>
    <p>
        Deseja saber informações sobre seu pet?
    </p>
        <form method="post" asp-controller="Home" asp-action="Consulta">
            <input asp-for="Codigo" placeholder="Digite aqui o código"/>
            <span class="text-danger" asp-validation-for="Codigo"></span>
            <button type="submit" class="btn btn-warning mx-2"  ></i>Consultar</button>
        </form>

    </div>
    <img src="~/css/podd.webp" />
</div>